---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
SortIncludes: false
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
...
