.sconsign.dblite
._*
*~
*.pyc
cscope.out
.DS_Store
.segments
/build
/bench/openldap/openldap-2.3.35-bdb/build_local
/bench/openldap/openldap-2.3.35-mnemosyne/build_local
/bench/paxos
/library/src/mtm/mode/wbwt/
/examples/atomic/
